<div class="container home-container">
    <!-- Hero Section / Home page -->
    <section class="hero-section">
        <h1 class="hero-title"> Savor the Finest Culinary Delights </h1>
        <p class="hero-description">Indulge in a remarkable dining experience where exquisite flavors, fresh ingredients, and impeccable service come together. Enjoy a warm ambiance and handcrafted dishes made with passion for an unforgettable meal!</p>
        <a href="/services" class="btn btn-primary hero-button">Explore Our Services</a>
    </section>   
    <!-- Our Services Section -->  
    <app-heroes-list></app-heroes-list>
    <!-- About Us Section -->   
    <app-aboutus></app-aboutus>
    <!--Our Menu-->
    <app-menu></app-menu>
    <!-- Contact info section --> 
     <app-contact></app-contact>
     <!-- Reviews Section -->
    <app-reviews></app-reviews>
  </div>
  
  <app-footer></app-footer>