<div class="container home-container">
    <!-- Hero Section / Home page -->
    <section class="hero-section">
        <h1 class="hero-title">Welcome to Painter Pro</h1>
        <p class="hero-description">Bringing color to your world, one stroke at a time.</p>
        <a href="/services" class="btn btn-primary hero-button">Explore Our Services</a>
    </section>   
    <!-- Our Services Section -->  
    <app-heroes-list></app-heroes-list>
    <!-- About Us Section -->   
    <app-aboutus></app-aboutus>
    <!-- Contact info section --> 
     <app-contact></app-contact>
     
  </div>
  
  <app-footer></app-footer>