<nav class="nav">
  <div class="logo-container">
    <a class="nav-logo" routerLink="/" routerLinkActive="active">
      <img src="assets/logo1.png" alt="Painter Pro Logo" class="logo">
    </a>
    <!-- <img src="your-logo.png" alt="Your Logo" class="logo"> <a>|</a> -->
  </div>
   <!-- Toggle Button for Mobile -->
   <button class="mobile-menu-toggle" (click)="toggleMobileMenu()">☰</button>
   <!-- Single Menu Container <button class="close-button" (click)="toggleMobileMenu()">×</button> -->
  <div class="menu" [ngClass]="{ 'show': isMobileMenuOpen }">
    <button class="close-button" (click)="toggleMobileMenu()">X</button>    
    <a class="button"
     routerLink="/crisis-list"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Home
  </a> |
  <a class="button"
     routerLink="/heroes-list"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Service
  </a>  |
  <a class="button"
     routerLink="/about"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Aboutinfo
  </a>  |
  <a class="button"
     routerLink="/contact"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    contact
  </a>  |
        <a class="button"
        routerLink="/menu"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Menu
        </a>
  </div>
</nav>
<router-outlet></router-outlet>
