/* General Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15x 20px;
    flex-wrap: wrap;
  }
.nv-logo {
  background-image: url('../assets/logo1.png');
}
.logo-container {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust as needed */
}

.logo {
    height: 40px; /* Adjust logo size */
    /* Add logo styles as needed */
}


  
  .button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    display: inline-block;
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .activebutton {
    background-color: #007bff;
  }
  
  /* Menu Container */
  .menu {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

    /* Close Button Inside the Menu */
.close-button {
  align-self: flex-start; /* Align to the right */
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none;
  padding: 10px;
  margin-bottom: 10px; /* Add some spacing */
  }

  
  /* Mobile Menu Toggle Button */
  .mobile-menu-toggle {
    display: none; /* Hidden by default */
    background-color: #333;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
  }


  /* Responsive Styles */
  @media (max-width: 768px) {
    .mobile-menu-toggle {
      display: block; /* Show toggle button on mobile */
    }
  
    .menu {
        display: flex;
        flex-direction: column;
        width: 80%; /* Adjust width as needed */
        height: 100vh; /* Full height */
        position: fixed;
        top: 0;
        right: -100%; /* Start off-screen to the right */
        background-color: #444;
        transition: right 0.3s ease; /* Smooth slide-in effect */
        z-index: 1000; /* Ensure it appears above other content */
    } 
  
    .menu.show {
      right: 0; /* Show menu when 'show' class is applied */
      border: 2px solid whitesmoke; 
    }  
  
   .close-button {
      display: block; /* Show close button on mobile */
    }
  }