<section id="heroes-list" class="services-section">
    <h2 class="section-title">Our services</h2>
    <div class="services-container">
      <div class="service-card">
        <h3>Online Table Reservation System</h3>
        <p>A service that allows customers to book tables online via the restaurant's website or a mobile app..</p>
      </div>
      <div class="service-card">
        <h3>Digital Menu and QR Code Ordering</h3>
        <p>A digital menu accessible via QR codes on tables, allowing customers to view the menu and place orders directly from their smartphones.</p>
      </div>
      <div class="service-card">
        <h3>Loyalty and Rewards Program</h3>
        <p>A service that rewards customers for repeat visits or purchases, such as earning points for every kronar spent, which can be redeemed for discounts or free items.</p>
      </div>
    </div>
  </section>